// Color Scheme (GEOCAB)
$brand-color: #ff7e67;
$brand-color-hover: #ff6347;

$my-red: #EE5F5B;
$my-blue: #469AE0;
$my-yellow: #FDB631;
$my-orange: #E67E22;
$my-green: #006a71;
$my-gray: #000000;

$my-lightgreen: #68b0ab;
