.wrapper-chiffres-cles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card-chiffres {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: white;
  color: $my-lightgreen;
  border: 1px solid lightgrey;
  text-align: left;
  padding: 23px;
  transition: all .2s ease-in-out;
}

.card-chiffres:hover {
  transform: scale(1.03);
}

#card-chiffres-1 {
  grid-column: 1 / 2 ;
  margin-right: 20px;
  margin-bottom: 20px;
}

#card-chiffres-2 {
  grid-column: 2 / 3 ;

  margin-right: 20px;
  margin-bottom: 20px;
}

#card-chiffres-3 {
  grid-column: 3 / 4 ;

  margin-right: 20px;
  margin-bottom: 20px;
}

#card-chiffres-4 {
  grid-column: 4 / 6 ;

  margin-right: 0px;
  margin-bottom: 10px;
}


#img-chiffres-cles {
  position: absolute;
  bottom: 15px;
  left: 1100px;
  z-index: 1000;
}
