// Specific CSS for your home-page
// Body

.main-background {
  background: linear-gradient(#006a71, #68b0ab, #fff);
  margin-top: -90px;
  padding-top: 90px;
}

// Main Card
.card-home-img {
  height: 200px;
  margin: auto 0;
  position: absolute;
  bottom: 0;
  right: 25px;
}

.card-body {
  width: 100%;
  margin: 0 auto;
}

// Steps Card
.step {
  width: 150px;
  text-align: center;
}

.step .fas {
  margin-bottom: 40px;
  font-size: 50px;
  color: $brand-color;
}

.card-steps {
  margin-top: 20px;
  padding-top: 40px;
  width: 100%;
  background-color: white;
}

.form-inputs-home {
  width: 350px;
}

.title-desc {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

button, select {
  border-radius: 25px;
  padding: 5px;
  border: 1px solid lightgrey;
  color: $brand-color;
  font-weight: bold;
}
