// Specific CSS for your home-page

// body {
//   background-color: $my-lightgreen;
// }
body {
  background: linear-gradient(#006a71, #5DA7A1);
}
// Main Card
.card-home-img {
  height: 250px;
}

.card-body {
  width: 900px;
  margin: 0 auto;
}

// Steps Card
.step {
  width: 150px;
  text-align: center;
}

.step .fas {
  margin-bottom: 40px;
  font-size: 50px;
  color: $brand-color;
}

.card-steps {
  margin-top: 25px;
  width: 100%;
  background-color: white;
}

.form-inputs.home {
  // display: inline-block;
}

.title-desc {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

