// Specific CSS for your home-page

// Main Card
.main {
  height: 400px;
}

.card-home-img {
  height: 300px;
}

// Steps Card
.step {
  width: 150px;
  text-align: center;
}

.fas {
  font-size: 50px;
  color: $brand-color;
}

.card-steps {
  margin-top: 25px;
}



