.main-container h3 {
  margin-top: 20px;
}

.datas-container{
  margin-top: 25px;
}

.map-insights {
  width: 700px;
  height: 430px;
  margin-right: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.card-square {
    width: 250px;
    height: 250px;
    background-color: white;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
  }

.card-horizontal {
  width: 520px;
  height: 150px;
  margin-bottom: 0px;
  background-color: white;
  color: white;
  padding: 10px 20px 20px 20px;
}

.card-quizz {
  width: 100%;
  height: 140px;
  background-color: $brand-color;
  color: white;
  font-size: 26px;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
}

.image-insights {
  position: absolute;
  bottom: 32px;
  left: 100px;
  z-index: 1000;
}

.btn-quizz {
  color: $brand-color;
  padding: 8px 24px;
  border-radius: 50px;
  background-color: white;
  height: 50px;
  margin-left: 20px;
  margin: auto 0px auto 60px;
}

.text-banner {
  text-align: left;
  margin: auto 20px auto 0px;
}
