.wrapper-locaux {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
}

.card-local-map {
  grid-column: 1 / 3 ;
  grid-row: 3;

}

.card-local-recherches {
  grid-column: 3 / 4 ;
  grid-row: 1 / 3;
}

.card-local-ad {
  grid-column: 1 / 3 ;
  grid-row: 3 / 4;
}

.card-local {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: white;
  border: 1px solid lightgrey;
}
