.questionnaire h2 {
  font-weight: bold;
}

.card-body {
  width: 100%;
  // margin-left: 20px;
  // margin-left: 20px;
}

.card-title {
  color: $my-lightgreen;
}

.far {
  padding-right: 10px;
  font-size: 22px;
  color: $my-lightgreen;
}

.fas {
  padding-right: 10px;
  font-size: 22px;
  color: $my-lightgreen;
}

.questionnaire-img {
  width: 200px;
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.field {
  display: inline-block;
}

.progress {
  margin-top: 25px;
  height: 20px;
}

.progress .progressbar {
  width: 25%;
}

.wrapper-questionnaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0px auto;
}

.questions {
  grid-column: 2 / span 3;
  padding-right: 50px;
}

