hr {
  background-color: $brand-color;
}

#plus-sign {
  color: $brand-color;
  font-size: 18px;
}

.wrapper_todo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 20px;
}

.wrapper-checklist {
  padding: 0 100px;
}

.todo-checklist {
  grid-column: 1 / 5 ;
  grid-row: 1 / 6;
}

.todo-progress {
  grid-column: 5 / 7 ;
  grid-row: 1 / 2;

}

.todo-links {
  grid-column: 5 / 7 ;
  grid-row: 2 / 6;
}

.todo-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid $brand-color;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: $brand-color;
}
