<div class="main-container">

  <div class="wrapper-chiffres-cles">

    <div class="card-chiffres" id="card-chiffres-1">
        <div class="text-data"> XX </div> </br>
        <div class="text-title"> titre </div>
        <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-2">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-3">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-4">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-5">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-6">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-7">
       <div class="text-data"> XX </div> </br> <div class="text-title"> titre </div> <div class="text-description"> description </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-8">
       <div class="text-data"> XX </div> </br>
       <div class="text-title"> titre </div>
       <div class="text-description"> description </div>
       <div id="img-chiffres-cles"> <%= image_tag "abc-doctor.png", height: 150%> </div>
    </div>

  </div>

</div>

