<div class="main-container">
<h3 class="lightgreen ml-3 mb-3"> <%= @search.query %> </h3>
  <div class="wrapper-chiffres-cles">

    <div class="card-chiffres" id="card-chiffres-1">
        <div class="text-data"> nombre </div> </br>
        <div class="text-title"> d'habitants</div>
        <div class="text-description"> </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-2">
       <div class="text-data"> nombre </div> </br> <div class="text-title">kinésithérapeutes </div> <div class="text-description"> en exercice</div>
    </div>
    <div class="card-chiffres" id="card-chiffres-3">
       <div class="text-data"> graphique </div> </br> <div class="text-title"> Evolution </div> <div class="text-description"> de la population </div>
    </div>
    <div class="card-chiffres" id="card-chiffres-4">
       <div class="text-data"> XX </div> </br> <div class="text-title"> Répartition </div> <div class="text-description"> par tranche d'âge </div>
    </div>

       <div id="img-chiffres-cles"> <%= image_tag "abc-doctor.png", height: 150%> </div>
</div>

@avg.to_i %>€
<%= @places.count %>


