<div class="card-img">
  <%= image_tag  ad.image_url,  style: 'width: 100%' %>
</div>
<div class="card-info-marker">
  <p class="title"><%= ad.title %></p>
  <p class="price"><%= ad.rent_cents %> €</p>
</div>

