<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="card-home-text">
          <h1>GEOCAB</h1>
          <p>Votre projet d'installation en libéral de A à Z.</p>
          <%= link_to "Commence ta recherche!", "/insights", class: "btn btn-primary"%>
        </div>
        <div class="card-home-img">
          <img src="/GEOCAB/app/assets/images/home-img.png" alt="Geocab - l'installation en libéral facile">
        </div>
      </div>
    </div>
  </div>
  .
</div>

