<<<<<<< HEAD

<%= link_to "quizz", edit_user_path(current_user) %>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Commence ta recherche!", "/insights" %>
>>>>>>> 871a08ed6005f6942b58e17c2cb6802d895c1851
