<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for @search do |f| %>
  <div class="form-inputs">
    <%= f.input :query, label: "Recherche!"%>
    <%= f.submit "Recherche!"%>
  </div>
<% end %>

