.card {
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-square {
    width: 250px;
    height: 250px;
    background-color: $my-green;
    text-align: left;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
