.circleprogress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.circleprogress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.circleprogress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.circleprogress .progress-left {
  left: 0;
}

.circleprogress .progress-bar {
  width: 100%;
  height: 100%;
  background: black;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.circleprogress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.circleprogress .progress-right {
  right: 0;
}

.circleprogress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.circleprogress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}


.circle.small {
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 20px;
	height: 20px;
  z-index: 86;
}

.circle.filled {
	background-color: #666666;
}

