// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/_variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'mapbox-gl/dist/mapbox-gl';
@import 'pages/insights';

.text-category {
  font-size: 13px;
  font-weight: lighter;
  color: $my-lightgreen;
}

.text-data {
  font-weight: bold;
  font-size: 30px;
  color: $brand-color;
}

.text-title {
  font-size: 18px;
  color: $my-lightgreen;
}

.text-description {
font-weight: lighter;
font-size: 16px;
color: $my-lightgreen;
}
