<div class="card-img">
      <%= image_tag cl_image_path ad.image_url[0].key %>
    </div>
    <div class="card-info-marker">
      <p><%= ad.title %></p>
      <p><%= ad.rent_cents %> <i class="fas fa-star"></i></p>
    </div>
